@model ProductType


<form method="post" asp-action="Create" class="mx-auto" style="max-width: 500px;">
    <div class="input-group mb-2 shadow-sm">
        <input asp-for="Name" class="form-control" placeholder="Type name..." />
        <div class="input-group-append ms-2">
            <button type="submit" class="btn btn-primary">Add new type</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger small"></span>
</form>
